.flex-container
{
    display: flex;
}

header{
    padding: 3rem auto;
    border-bottom: 1px solid gray;
    position: sticky;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,p{
    margin: 0;
  }

  nav{
      height: 3rem;
      justify-content: space-between;
      align-items: center;
  }

nav a{
    text-decoration: none;
    color: #9b6dff;
}

.logo a{
    color: #9b6dff;;
}

li{
    padding-left: 5rem;
}

/* .menu{
    position: absolute;
    right: 4rem;
} */

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.home{
    justify-content: space-around;
    height: calc(100vh - 3rem);
}

.home_data{
    margin-top: 10rem;
}

.home_img{
    margin-top: 3rem;
}

.about{
    height: 100vh;
    background-color: #fbf2ff;
    border-radius: 1rem;
    padding-bottom: 0;
}

.subtitle{
    text-align: center;
    /* margin-bottom: 2rem; */
}

.about_info{
    /* max-width: 4rem; */
    margin-left: 5rem;
    padding-top: 5rem;
}

.about_data{
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-around;
}
/* .about_text{
    max-width: 500px;
} */

.projects{
    height: 100vh;
}

.projects_intro{
    text-align: center;
}

.contact{
    background-color: #e8ebff;
    height: 100vh;
    padding-bottom: 0;
    border-radius: 1rem;
}

.form{
    padding: 3rem;
    margin-top: 3rem;
}

.footer{
    background-color: #9b6dff;
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    
  }
.footer__title{
font-size: 2rem;
margin-bottom: var(--mb-4);
}
.footer__social{
margin-bottom: var(--mb-4);
}
.footer__icon{
font-size: 1.5rem;
color: #fff;
margin: 0 var(--mb-2)
}